@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarefa, .tarefaDark {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 1000px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.tarefa {
    border: 1px solid #ddd;
    background-color: #fff;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.tarefa:hover {
    background-color: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

.tarefaDark {
    border: 1px solid #474747;
    background-color: #474747;
    color: #dadada;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.tarefaDark:hover {
    background-color: #595959;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

.tarefaDark p {
    color: #bcbcbc;
}

.checkbox, .checkboxDark {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox {
    background-color: #fff;
    border: 1px solid #000;
}

.checkboxDark {
    background-color: #474747;
    border: 2.5px solid #e6e6e6;
}

.checkbox:checked {
    background-color: #000;
}

.checkboxDark:checked {
    background-color: #f7f7f7;
}

.checkbox:checked::after, .checkboxDark:checked::after {
    content: '✓';
    color: #fff;
    font-size: 16px;
}

#container {
    width: 70%;
    max-width: 500px;
    margin: 0 auto;
}

#saudacoes {
    font-family: "League Spartan", sans-serif;
    font-size: 3em;
    text-align: center;
    padding: 20px;
    color: #333;
    transition: color 0.3s;
}

.texto-tarefa {
    flex: 1;
}

.task {
    margin: 0;
    font-size: 1.2em;
    font-weight: 500;
}

.desc {
    margin: 5px 0;
    color: #666;
    font-size: 0.9em;
}

/* Estilos para as imagens dentro dos botões menu e criar */
.menu img, .criar img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    outline: none;
    border: none;
}

/* Estilos para o hover nos botões menu e criar */
.criar:hover {
    background-color: #b67d51;
    transform: scale(1.0);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
}

/* Estilos para o active nos botões menu e criar */
.criar:active {
    background-color: #dadada;
    transform: scale(0.99);
}

.menu {
    position: fixed; /* Define a posição fixa na tela */
    width: 60px; /* Define a largura do botão */
    height: 60px; /* Define a altura do botão */
    border-radius: 50%; /* Arredonda o botão para forma circular */
    background-color: #927c6b;
    color: white; /* Define a cor do texto como branca */
    border: none; /* Remove a borda do botão */
    font-size: 1.5em; /* Define o tamanho da fonte do botão */
    display: flex; /* Define o botão como flex container */
    align-items: center; /* Alinha os itens ao centro verticalmente */
    justify-content: center; /* Alinha os itens ao centro horizontalmente */
    cursor: pointer; /* Define o cursor como ponteiro ao passar sobre o botão */
    top: 10px; /* Posiciona o botão a 10px do topo da tela */
    left: 10px; /* Posiciona o botão a 10px da esquerda da tela */
    transition: background-color 0.3s, transform 0.3s; /* Define uma transição suave para cor de fundo e transformação */
    margin: 10px; /* Adiciona um pouco de margem se desejar */
}

/* Estilos para o hover no botão menu */
.menu:hover {
    background-color: #b67d51;
    transform: scale(1.0);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
}

/* Estilos para o active no botão menu */
.menu:active {
    background-color: #dadada;
    transform: scale(0.99);
}


.criar {
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #927c6b;
    color: white;
    border: none;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.form, .formDark {
    display: flex;
    flex-direction: column;
    padding: 20px 150px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}

.form {
    background-color: #fff;
}

.formDark {
    background-color: #474747;
    color: white;
}

.formDark input[type="text"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
    width: 96%;
    color: white;
    background-color: #474747;
}

.formDark button[type="submit"] {
    background-color: #9f6d43;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.formDark button[type="submit"]:hover {
    background-color: #c57533;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
    width: 96%;
}

button[type="submit"] {
    background-color: #995925;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

button[type="submit"]:hover {
    background-color: #c57533;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.1);
}

#lateralMenu {
    width: 200px; /* Largura do menu */
    position: fixed; /* Fixa o menu na posição */
    top: 0; /* Alinha ao topo da página */
    left: 0; /* Alinha à esquerda da página */
    height: 100%; /* Altura total da página */
    background-color: #111; /* Cor de fundo do menu */
    padding-top: 20px; /* Espaçamento no topo */
    transition: transform 1s ease; /* Animação para a transição */
    transform: translateX(0); /* Posição inicial do menu */
}

#lateralMenu.hidden {
    transform: translateX(-100%); /* Esconde o menu movendo-o para fora da tela */
}

#lateralMenu a {
    padding: 10px 15px; /* Espaçamento interno dos links */
    text-decoration: none; /* Remove sublinhado dos links */
    font-size: 18px; /* Tamanho da fonte */
    color: white; /* Cor do texto */
    display: block; /* Faz com que cada link ocupe a largura total */
    transition: background-color 0.3s;
}

#lateralMenu a:hover {
    background-color: #575757; /* Cor de fundo quando o link é hover */
}


.menuTarefas {
    margin-top: 40%;
}