@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    background-color: #EBEBDF;
    font-family: 'League Spartan', sans-serif;
    transition: background-color 0.3s;

    user-select: none; /* Impede a seleção do texto/imagem */
    -webkit-user-select: none; /* Compatibilidade com navegadores WebKit (Safari/Chrome) */
    -moz-user-select: none; /* Compatibilidade com Firefox */
    -ms-user-select: none; /* Compatibilidade com Internet Explorer/Edge */
}

/* Formulário */
.form,
.formDark {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    height: -50px;
    width: 90%;
    max-width: 600px;
    transition: background-color 0.3s;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.42);
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.42);
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form {
    background-color: #EBEBDF;
    padding: 20px;
}

.formDark {
    background-color: #212121;
    padding: 20px;
}

/* Estilo dos campos do formulário */
.form textarea, 
.form input {
    margin: 0 auto;
    width: 80%;
    padding: 15px;
    font-size: 16px;
    background-color: #1c1c1c;
    border-radius: 10px;
    border: none;
    color: #EBEBDF;
    box-sizing: border-box;
    resize: none;
    transition: background-color 0.3s box-shadow 0.4s;
    font-family: 'League Spartan', sans-serif;
}

/* Botão de envio */
#enviar {
    margin: 0 auto;
    width: 80%;
    padding: 13px 20px;
    font-size: 1rem;
    color: white;
    background-color: #684327;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#enviar:hover {
    background-color: #885d3c;
    transform: scale(1.01);
}

/* Responsividade */
@media (min-width: 480px) {
    #editar {
        padding: 15px;
        max-width: 90%;
    }

    #titulo,
    textarea,
    #enviar {
        font-size: 0.9rem;
    }

}

*{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus,
a:visited,
a:active {
    outline: none;
}

/* Containers */
.container {
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container {
    width: 90%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Tarefas */
.tarefa,
.tarefaDark {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Aumentei a margem para maior espaçamento entre as tarefas */
    padding: 20px; /* Aumentei o padding para dar mais espaço interno */
    border-radius: 12px; /* Mantive o border-radius */
    width: 100%; /* Agora ocupa 100% da largura disponível */
    max-width: 1000px; /* Aumentei o max-width para até 1000px */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Aumentei o shadow para dar mais destaque */
    box-sizing: border-box;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.tarefa {
    border: 1px solid #ddd;
    background-color: #f7f7f7; /* Ajustei a cor para um tom mais claro */
}

.tarefa:hover {
    background-color: #e9e9e9; /* Ajustei a cor do hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25); /* Aumentei o shadow no hover */
}

.tarefaDark {
    border: 1px solid #474747;
    background-color: #383838; /* Ajustei a cor para um tom mais escuro */
    color: #dadada;
}

.tarefaDark:hover {
    background-color: #4a4a4a; /* Ajustei a cor do hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25); /* Aumentei o shadow no hover */
}

.tarefaDark p {
    color: #bcbcbc;
}

#fotoSemTarefas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#fotoSemTarefas h2, h3 {
    color: #4a4a4a;
}

#fotoSemTarefas h2 {
    margin-bottom: -5px;
}

/* Estilo para checkboxes */
.checkbox,
.checkboxDark {
    appearance: none;
    width: 20px; /* Reduzido */
    height: 20px; /* Reduzido */
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px; /* Ajuste de margem */
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox {
    background-color: #fff;
    border: 1px solid #000;
}

.checkboxDark {
    background-color: #474747;
    border: 2.5px solid #e6e6e6;
}

.checkbox:checked {
    background-color: #000;
}

.checkboxDark:checked {
    background-color: #f7f7f7;
}

.checkbox:checked::after,
.checkboxDark:checked::after {
    content: '✓';
    color: #fff;
    font-size: 16px;
}

/* Saudacoes */
#saudacoes {
    font-family: 'League Spartan', sans-serif;
    font-size: 3em;
    text-align: center;
    padding: 20px;
    color: #333;
    transition: color 0.3s;
}

/* Texto da tarefa */
.texto-tarefa {
    flex: 1;
}

.task {
    margin: 0;
    font-size: 1.2em;
    font-weight: 500;
}

.desc {
    margin: 5px 0;
    color: #666;
    font-size: 0.9em;
}

/* Botões menu e criar */
.menu img,
.criar img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    outline: none;
    border: none;
}

.menu {
    top: 10px;
    left: 10px;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    border: none;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s ease-in-out, box-shadow 0.3s;
}


.criar {
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #927c6b;
    color: white;
    border: none;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s ease-in-out, box-shadow 0.3s;
}

.menu {
    top: 10px;
    left: 10px;
}

.criar {
    bottom: 30px;
    right: 30px;
}

.menu:hover {
    background-color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
}
.criar:hover {
    background-color: #b67d51;
    transform: scale(1.05);
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
}

.menu:active {
    background-color: #dadada;
    transform: scale(0.99);
}

.menu img {
    transition: transform 0.3s ease-in-out;
}

.scaleButton {
    transform: scale(1.05);
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.rotateImage {
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;
}
.criar:active {
    background-color: #dadada;
    transform: scale(0.99);
}

/* Visibilidade */
.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s, visibility 0.15s;
}

.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.15s, visibility 0.15s;
}

.lateralMenu {
    background-color: #eaeaea; /* Cor de fundo */
    transition: background-color 0.3s;
}

.lateralMenuDark {
    background-color: #262626; /* Cor de fundo */
    transition: background-color 0.3s;
}

.lateralMenuDark a {
    color: #ddd;
    transition: color 0.3s;
}

.lateralMenu a {
    color: #080808;
    transition: color 0.3s;
}

.lateralMenu a,
.lateralMenuDark a {
    font-size: 18px;
    margin: -5px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10pxs;
    transition: color 0.3s;
}

.lateralMenu a:hover {
    background-color: #9e9e9e;
    transition: color 0.3s;
}

#lateralMenu {
    position: fixed; /* Mantém o menu fixo na tela */
    top: 80px; /* Distância do topo da tela */
    bottom: 20px; /* Distância do fundo da tela */
    left: 20px; /* Distância da lateral esquerda da tela */
    width: 200px; /* Largura do menu */
    padding: 20px; /* Espaçamento interno */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 9px rgb(23, 23, 23, 0.5); /* Sombra para destacar o menu */
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
    justify-content: flex-start; /* Alinha o conteúdo ao topo */
}


.menuTarefas {
    display: flex;
    align-items: center;
    color: rgb(32, 32, 32); /* Cor do texto */
    text-decoration: none; /* Remove sublinhado dos links */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito no texto */
    margin-bottom: 10px; /* Espaçamento entre os itens do menu */
}

.icon {
    width: 15px;
    height: 10px;
    margin-right: 10px;
    margin-left: 15px;
}

#fotoSemTarefas {
    position: fixed;
    top: 220px;
}

.img-empty {
    transition: opacity 0.3s
}