@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    background-color: #EBEBDF;
    font-family: 'League Spartan', sans-serif;
    transition: background-color 0.3s;

    user-select: none; /* Impede a seleção do texto/imagem */
    -webkit-user-select: none; /* Compatibilidade com navegadores WebKit (Safari/Chrome) */
    -moz-user-select: none; /* Compatibilidade com Firefox */
    -ms-user-select: none; /* Compatibilidade com Internet Explorer/Edge */
}

/* Formulário */
.form,
.formDark {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    height: 35%;
    width: 80%;
    max-width: 600px;
    transition: background-color 0.3s;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.42);
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.42);
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form {
    background-color: #EBEBDF;
    padding: 20px;
}

.formDark {
    background-color: #212121;
    padding: 20px;
}

/* Estilo dos campos do formulário */
.form textarea, 
.form input,
.formDark textarea, 
.formDark input {
    align-items: center;
    margin: 0 auto;
    width: 70%;
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    resize: none;
    transition: background-color 0.3s box-shadow 0.4s;
    font-family: 'League Spartan', sans-serif;
}

.form textarea,
.form input {
    transition: background-color 0.5s color 0.5s;
    background-color: #b6b6b6;
    color: #080808;
}

.formDark textarea,
.formDark input {
    transition: background-color 0.5s color 0.5s;
    background-color: #1c1c1c;
    color: #EBEBDF;
}

/* Botão de envio */
#submit {
    align-items: center;
    margin: 0 auto;
    width: 70%;
    padding: 13px 20px;
    font-size: 1rem;
    color: white;
    background-color: #684327;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#submit:hover {
    background-color: #885d3c;
    transform: scale(1.01);
}

/* Responsividade */
@media (min-width: 480px) {
    #submit {
        padding: 15px;
        max-width: 90%;
    }

    #title,
    textarea,
    #submit {
        font-size: 0.9rem;
    }

}

*{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus,
a:visited,
a:active {
    outline: none;
}

/* Containers */
.principal-container {
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#task-container {
    width: 90%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* tasks */
.task,
.taskDark {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Aumentei a margem para maior espaçamento entre as tasks */
    padding: 20px; /* Aumentei o padding para dar mais espaço interno */
    border-radius: 12px; /* Mantive o border-radius */
    width: 100%; /* Agora ocupa 100% da largura disponível */
    max-width: 1000px; /* Aumentei o max-width para até 1000px */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Aumentei o shadow para dar mais destaque */
    box-sizing: border-box;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.task {
    border: 1px solid #ddd;
    background-color: #f7f7f7; /* Ajustei a cor para um tom mais claro */
}

.task:hover {
    background-color: #e9e9e9; /* Ajustei a cor do hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25); /* Aumentei o shadow no hover */
}

.taskDark {
    border: 1px solid #474747;
    background-color: #383838; /* Ajustei a cor para um tom mais escuro */
    color: #dadada;
}

.taskDark:hover {
    background-color: #4a4a4a; /* Ajustei a cor do hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25); /* Aumentei o shadow no hover */
}

.taskDark p {
    color: #bcbcbc;
}

.text-task {
    flex: 1;
}

.title-task {
    margin: 0;
    font-size: 1.2em;
    font-weight: 500;
}

.desc-task {
    margin: 5px 0;
    color: #666;
    font-size: 0.9em;
}

/* Estilos para quando está sem tarefas */
#alert-no-task {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

#alert-no-task h2, h3 {
    color: #4a4a4a;
}

#alert-no-task h2 {
    margin-bottom: -5px;
}

#alert-no-task {
    position: fixed;
    top: 220px;
}

.img-empty {
    transition: opacity 0.3s
}

/* Estilo para checkboxes */
.checkbox,
.checkboxDark {
    appearance: none;
    width: 20px; /* Reduzido */
    height: 20px; /* Reduzido */
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px; /* Ajuste de margem */
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox {
    background-color: #fff;
    border: 1px solid #000;
}

.checkboxDark {
    background-color: #474747;
    border: 2.5px solid #e6e6e6;
}

.checkbox:checked {
    background-color: #000;
}

.checkboxDark:checked {
    background-color: #f7f7f7;
}

.checkbox:checked::after,
.checkboxDark:checked::after {
    content: '✓';
    color: #fff;
    font-size: 16px;
}

/* Saudacoes */
#greeting {
    font-family: 'League Spartan', sans-serif;
    font-size: 3em;
    text-align: center;
    padding: 20px;
    color: #333;
    transition: color 0.3s;
}

/* Botões para criar tarefas */
.add-task img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    outline: none;
    border: none;
}

.add-task {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #927c6b;
    color: white;
    border: none;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    -webkit-box-shadow: 0px 0px 0px 9px rgba(42,42,42,1);
    -moz-box-shadow: 0px 0px 0px 9px rgba(42,42,42,1);
    box-shadow: 0px 0px 0px 9px rgba(42,42,42,1);

    transition: background-color 0.3s, transform 0.3s ease-in-out, box-shadow 0.3s;
}

.add-task {
    bottom: 40px;
    right: 30px;
}

.add-task:hover {
    background-color: #b67d51;
    transform: scale(1.05);
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
}

.add-task:active {
    background-color: #dadada;
    transform: scale(0.99);
}

/* Visibilidade */
.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s, visibility 0.15s;
}

.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.15s, visibility 0.15s;
}

/* Barra lateral */
.tool-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;

    top: 50%; /* Alinha a barra ao topo da tela */
    left: 1%; /* Alinha a barra à lateral esquerda da tela */
    transform: translateY(-50%);

    width: 5.5%; /* Largura da barra lateral */
    height: 95%; /* Altura total da tela */
    background-color: #f0f0f0; /* Cor de fundo para visualização */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra opcional */
    border-radius: 20px;
}

.tool-bar a {
    margin: -5px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10pxs;
    transition: opacity 0.3s;
    width: 50px;
    height: 50px;
    transition: background-color 0.3s;
}

.tool-bar a:hover {
    opacity: 0.5;
    transition: opacity 0.3s;
}

.lateral-item {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tool-bar img {
    margin-left: 15px;
    width: 30px;
    height: 30px;
}

/* Botão de editar tarefas */
.edit-image {
    opacity: 0;
}

.edit-quick {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
}

.edit-quick img {
    opacity: 0;
    width: 18px;
    height: 18px;
}

.edit-quick img:hover {
    opacity: 0.6;
}